header{
 position: absolute; /* take it out of normal flow */
  top: 0;
  left: 0;
  width: 100%; /* stretch across page */
  padding: 20px 40px;
  z-index: 2; /* ensure it sits above the section */
  background: transparent; /* so you see the section background through it */
}
nav{
 display: flex;
 justify-content: space-around;
 gap: 40px;
 align-items: center;
}
nav ul{
   display: flex; 
   list-style: none;
   gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
}
.section-1{
    background-image:url(./images/Object.png);
    background-size: cover;
    padding-top: 150px;
    text-align: center;
    color: #ffffff;
    flex-direction: column;
}
.section-1 h1 {
  font-size: 5rem;
  font-weight: bolder;
  padding: 40px;
  margin-bottom: 20px;
}
/* Row of spans below h1 */
.section-1 .spans-row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.section-1 button {
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  background-color: #C271FF; /* semi-transparent button */
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
.span-color{
    color: #C271FF;
    font-weight: bold;
}
.section-1 h2{

}
.image-3{
    border-radius: 50%;
}
.section-1 .images-row{
    display: flex;
    justify-content: space-evenly;

}
.section-2{
    display: flex;
    background-color: #C271FF;
     padding: 100px 20px;
     align-items: center;
     justify-content: center;
     color: #ffffff;
}
.section-2-image{
    width: 100px;
    height: 100px;
}
.section-2-h3{
font-weight: bolder;
padding-left: 40px;
font-size: small;
padding-bottom: 0;
}
.section-2-p{
    padding-left: 40px;
    margin-top: 0;
}
.section-3{
    padding: 0 80px;
}
.section-3 h2{
    text-align: center;
    padding: 40px ;
}
.section-3 h4{
    font-size: x-small;
    color: #C271FF;
}
.section-3-videos{
    display: flex;
    justify-content: space-around;
}
.section-3-same-image{
    width: 30px;
    height: 30px;
}
.section-4{
    background-color:#071629;
    color: #ffffff;
    text-align: center;
}
.section-4 h2{
    padding: 40px ;
}
.section-4-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-4 button{
    margin-top: 20px;
  margin-bottom: 80px;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  background-color: #C271FF; /* semi-transparent button */
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 50px;
}
.section-5{
    padding: 0 50px;
}
.section-5 h2{
    text-align: center;
    
}
.section-5 h3{
    color: #071629;
}
.section-5-text{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}
.text-5{
    color: #1c3c65fc;
}