body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}
/* Custom CSS non-positioning*/
header{
  background:  #f8bbd0;
  padding: 20px;
  border-radius: 8px;
}
h1,h2,h3{
    color: purple;
}
main{
    background-color: rgb(240, 198, 240);
    border-radius: 10px;
}
article{
padding: 30px;
margin-top:10px;
background-olor: rgb(225, 81, 225);
}
footer{
    background-color:#f8bbd0 ;
    padding-top: 20px;
    border-radius: 8px;
}